%h1 Ingredients Matcher
%p Select some items and we'll give you some recipes

%section.container
%h4 What's on your fridge?
= form_with scope: :item do |f|
    - @items.each do |item|
        = f.label item.name
        = f.check_box :items, { multiple: true }, id="check-item", false
    = f.submit "Search"