%h1 Ingredients Matcher
%p Select some items and we'll give you some recipes

%section.container
%h4 What's in your fridge?
- @items.each do |item|
    %div.item-tile{id: dom_id(item)}
    %p= item.name

- @recipes.each do |recipe|
    = recipe[1][1]['title']